{% extends 'base.html' %}
{% load static %}

{% block body %}

{% include 'user_navigation.html' %}
<script>
    function checkpass(){
        if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value){
            alert('New Password and Confirm Password field does not match');
            document.changepassword.confirmpassword.focus();
            return false;
        }
        return true; 
        }

</script>

<marquee style="font-family : 'Times new roman' ; font-size : 25px ; color : rgb(201, 67, 4); ; background-color : rgb(214, 172, 137) ; font-weight : bold; margin-top : 1%">
    Change Password for User
</marquee>
<hr>
<form class="container mt-5" method="post" name="changepassword" onsubmit="return checkpass()">
    {% csrf_token %}
    <label><b>Current Password</b></label>
    <input type="password" class="form-control" name="currentpassword" required="true" >
    <label><b>New Password</b></label>
    <input type="password" class="form-control" name="newpassword" required="true" >
    <label><b>Confirm New Password</b></label>
    <input type="password" class="form-control" name="confirmpassword" required="true" >
    <input type="submit" class="btn btn-primary" style="margin-top : 2% ; color : rgb(255, 255, 255) ; background-color : rgb(31, 31, 98) ; height : 40px ; font-size : 15px">
</form>
{% include 'footer.html' %}
{% if error == "no" %}
    <script>
        alert("Your Passsword updated Successfully");
        window.location = "{% url 'Logout' %}";
    </script>
{% elif error == "yes" %}
    <script>
        alert("Something went wrong, Try Again...");
    </script>
{% elif error == "not" %}
<script>
    alert("Your Current Password is wrong");
</script>
{% endif %}

{% endblock %}