{% extends 'base.html' %}
{% load static %}

{% block body %}

{% include 'admin_navigation.html' %}

<marquee style="font-family : 'Times new roman' ; font-size : 25px ; color : rgb(201, 67, 4); ; background-color : rgb(214, 172, 137) ; font-weight : bold; margin-top : 1%">
    View Recruiters - Accept
</marquee>
<hr>
<div class="container">
<table class="table table-hover" id="example">
    <thead>
        <tr style="background-color : rgb(225, 84, 18) ; color : white">
            <th>S.No.</th>
            <th>Full Name</th>
            <th>Email  ID</th>
            <th>Contact</th>
            <th>Gender</th>
            <th>Company</th>
            <th>Image</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for i in data %}
        <tr style="background-color : wheat">
            <td>{{forloop.counter}}</td>
            <td>{{i.user.first_name}}{{i.user.last_name}}</td>
            <td>{{i.user.username}}</td>
            <td>{{i.mobile}}</td>
            <td>{{i.gender}}</td>
            <td>{{i.company}}</td>
            <td><img src ="{{i.image.url}}" style ="width : 60px ; height : 60px; border-radius : 50%"></td>
            <td>{{i.status}}</td>
            <td><a href="{% url 'change_status' i.id %}" class="btn btn-success btn-sm">Change Status</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}